.App {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}


.hash a {
  text-decoration: none;
  opacity: 0;
  color: white;
  transition: ease-in-out 0.1s;
}

.hash a:hover {
  transition: ease-in-out 0.1s;
  opacity: 1;
}

.hash a:active {
  transition: ease-in-out 0.1s;
  text-decoration: underline;
}
