.home {
  padding-top: 170px;
}

.home h2 {
  margin-top: 40px;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .home {
    padding-top: 100px;
  }
  .home h1 {
    font-size: 40px;
  }
  .home h2 {
    font-size: 28px;
  }
  .home p {
    font-size: 18px;
  }
}
