@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #000;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .backdrop-blur-md {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  /* .bg-custom-gradient {
    background: linear-gradient(111.1deg, rgb(126, 126, 215) -4.8%, rgb(153, 95, 210) 82.7%, rgb(189, 95, 221) 97.2%);
  }

  .dark .bg-custom-gradient {
    background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
  } */
}

.custom-svg {
  width: 2.5rem;
  height: 2.5rem;
}